/* css for main page  */
/* intro post  */
/* body  */
/* footer */
/* two menus , one for big screen 
and other one when screen is less than 1400  */
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.container {
  width: 80%;
  position: relative;
  margin: auto;
}

/* intro post  start*/
.main-post {
  display: flex;
  justify-content: space-around;
  margin-top: 15vh;
  align-items: center;
  text-align: center;
}

.my-intro {
  margin-bottom: 4vh;
}

.my-intro h2 {
  font-size: 98px;
  text-shadow: 3px 3px 5px rgb(92, 92, 92);
  cursor: default;
  transition: 0.2s ease-in-out;
}

.my-intro h2:hover {
  text-shadow: 4px 4px 10px var(--main);
}

.image-intro {
  width: 30%;
  height: 60vh;
}

.image-intro img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: cover;
  box-shadow: 12px 6px 8px rgb(105, 103, 103);
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.image-intro img:hover {
  box-shadow: 34px 22px 41px var(--main);
}

.an {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.an:first-of-type {
  animation: showup 7s;
}

.an:last-of-type {
  animation: reveal 7s;
}

.an:last-of-type span {
  animation: slidein 7s;
}

/* intro post  end*/
/*  body  start*/
.posts {
  width: 100%;
}

.p1 {
  display: flex;
  flex-direction: row;
  margin-top: 350px;
  align-items: center;
  text-align: center;
}

.p1:last-child {
  padding-bottom: 100px;
}

.text {
  width: 70%;
}

.text h2 {
  font-size: 48px;
  text-shadow: 2px 2px 2px rgb(93, 93, 93);
}

.text p {
  font-weight: 500;
  padding: 20px;
}

.p1 {
  width: 100%;
}

.p1 img {
  width: 50%;
  height: 50%;
  box-shadow: 6px 6px 10px black;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.p1 img:hover {
  box-shadow: 3px 3px 4px var(--main);
}

.rev {
  flex-direction: row-reverse;
}

.p1 .text p a {
  color: var(--main);
  text-decoration: underline;
}

.p1 .text p a:hover {
  color: red;
}

/* opening antimation for name - SAM  */
@keyframes showup {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }

  20% {
    margin-left: -800px;
  }

  35% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }

  20% {
    opacity: 1;
    width: 0px;
  }

  30% {
    width: 320px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    width: 320px;
  }
}

@media (max-width: 1200px) {
  .main-post {
    flex-direction: column;
  }

  .image-intro {
    width: 600px;
    height: 600px;
  }

  .image-intro img {
    width: 67%;
    height: 74%;
  }

  .p1 {
    flex-direction: column;
    margin-top: 150px;
  }
}

@media (max-width: 1000px) {
  .main-post {
    flex-direction: column;
  }

  .image-intro {
    width: 100%;
  }

  @keyframes showup {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slidein {
    0% {
      margin-left: -200px;
    }

    20% {
      margin-left: -200px;
    }

    35% {
      margin-left: 0px;
    }

    100% {
      margin-left: 0px;
    }
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      width: 0px;
    }

    20% {
      opacity: 1;
      width: 0px;
    }

    30% {
      width: fit-content;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 1;
      width: fit-content;
    }
  }
}

.main-menu {
  background-color: rgb(0, 0, 0);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px #d4d4d4;
  z-index: 100;
  width: 70px;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  top: 0vh;
  padding-top: 5vh;
  right: -13px;
  transition: 1s ease-in-out;
  white-space: nowrap;

  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.p-menu1 {
  top: 10vh;
  position: fixed;
  right: 0;
}

.main-menu ul {
  list-style: none;
  float: right;
  align-items: center;
  border-radius: 50%;
}

.main-menu li {
  border-radius: 10%;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  font-weight: 400;
  transition: 0.5s;
}

.main-menu a {
  color: white;
}

.main-menu:hover {
  width: 220px;
  overflow-y: scroll;
  box-shadow: 0px 0px 10px var(--main);
}

.home {
  border-bottom: 3px solid rgb(255, 255, 255);
}

.links {
  border-bottom: 3px solid rgb(255, 255, 255);
}

.main-menu .menu-item:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: var(--main);
}

.main-menu .menu-item .fa {
  color: rgb(255, 255, 255);
  width: 40px;
  font-size: 25px;
  padding-left: 52px;
}

.main-menu .menu-item:hover>.fa {
  color: var(--main);
}

.main-menu::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

.main-menu::-webkit-scrollbar-thumb {
  background: var(--main);
}

.hamburger1 {
  height: 45px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 1111;
  display: none;
  position: fixed;
}

.hamburger1 div {
  background-color: gray;
  z-index: 1111;
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked+.hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked+.hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked+.hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked~.menu1 {
  height: 100%;
}

/* Menu */
.menu1 {
  background-color: var(--black);
  margin: 0;
  display: flex;
  flex-basis: 10%;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  clear: both;
  text-align: center;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 1000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 0;
}

.link1 {
  margin-top: auto;
  color: orange;
  font-weight: 500;
  width: 50%;
  font-size: 4vmin;
  align-self: center;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* footer start */
.contact-info p a {
  color: black;
}

.contact-info {
  background: linear-gradient(to left, var(--main), #5649c7);
  width: 100%;
  z-index: 2222;
  margin-top: 20vh;
}

.footer {
  height: 100px;
  width: 100vw;
}

.footer .container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: absolute;
}

.footer,
.generic-footer {
  margin-bottom: 0px !important;
}

.footer i {
  margin-top: 50%;
  color: rgb(248, 248, 248);
  font-size: 60px;
  cursor: pointer;
  transition: 0.5s;
}

.footer i:hover {
  color: rgb(2, 2, 2);
}

/* footer end */
@media (min-width: 1400px) {
  .menu1 {
    display: none;
  }
}

@media (max-width: 1400px) {
  .main-menu {
    display: none;
  }

  .hamburger1 {
    display: block;
    cursor: pointer;
    right: 0;
    top: 50vh;
    position: fixed;
  }
}

@media (max-width: 500px) {
  .hamburger1 {
    top: 50vh;
    right: 3vw;
  }

  .my-intro h2 {
    font-size: 48px;
  }

  .my-intro {
    margin-bottom: 0vh;
  }

  .image-intro {
    height: 65vh;
  }

  .my-intro span {
    font-size: 10px;
  }

  .image-intro img {
    height: 40vh;
  }

  .p1 {
    margin-top: 0;
  }

  .p1 {
    margin-bottom: 100px;
  }

  .p1 img {
    width: 60%;
    height: 60%;
  }

  .footer .container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background: linear-gradient(to left, var(--main), #5649c7);
    margin: auto;
  }
}

@media screen and (max-width:600px) {

  .posts .text {
    width: 100%;
  }

  .text h2 {
    font-size: 22px;
    text-shadow: 2px 2px 2px rgb(93, 93, 93);
  }

  .text p {
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
  }
}

@media (max-width: 372px) {
  @keyframes slidein {
    0% {
      margin-top: -800px;
    }

    20% {
      margin-top: -800px;
    }

    35% {
      margin-top: 0px;
    }

    100% {
      margin-top: 0px;
    }
  }


}